:root {
  --default-fonts: "Capriola-Regular", sans-serif;
  --label-fonts: 'Trebuchet MS', Tahoma, sans-serif;

  --logo-color: #fff;
  --bg-tint: rgba(0,0,0,0.45);
  --label-color: #555;
  --button-bg-color: #48B0B9;
  --button-hover-color: #38A0A9;
  --invalid-border-color: red;
  --invalid-bg-color: rgb(255, 220, 220);
}

@font-face {
  font-family: "Capriola-Regular";
  src: url("./assets/fonts/Capriola-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.background {
  width: 37vw;
  position: relative;

  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  width: 63vw;

  background-color: #f9fafb;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  margin-top: 30vh;
  padding: 1rem 0;

  background-color: var(--bg-tint);

  overflow: hidden;
}

.logo > svg {
  width: 5rem;
  height: 5.2rem; /* extra height needed to prevent cutoff at top and bottom*/
  min-width: 5rem;
  min-height: 5.2rem;

  fill: var(--logo-color);
  stroke: var(--logo-color);
  stroke-width: 1;
}

h1 {
  font-family: var(--default-fonts);
  font-size: 3rem;

  color: var(--logo-color);
}

.credits-container {
  position: absolute;
  bottom: 5px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.credits {
  color: var(--logo-color);
  background-color: var(--bg-tint);

  font-family: var(--default-fonts);
  font-size: 0.75rem;

  padding: 0.25rem;
}

.credits > a {
  color: inherit;

  font-family: inherit;
  font-size: inherit;
}

.content p {
  font-family: var(--default-fonts);
  font-size: 1.5rem;
  font-weight: 100;
}

.message {
  width: 95%;

  padding-left: 32px;
  margin-bottom: 32px;
}

form {
  background-color: var(--logo-color);
  padding: 16px 32px;

  box-shadow: 0px 4px 4px #ccc;
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;

  margin-top: 32px;
}

.input {
  width: 30%;
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  margin-right: 4vw;
  margin-bottom: 2vh;
}

label {
  font-family: var(--label-fonts);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;

  color: var(--label-color);
}

input {
  padding: 4px 6px;
  width: 100%;

  border: 1px solid #ccc;
  border-radius: 4px;

  font-size: 1rem;
}

input:focus {
  border: 1px solid cornflowerblue;
  
  /* inset shadow */
  /* box-shadow: inset 0px 0px 4px 4px #eee; */

  /* outset shadow */
  box-shadow: 2px 2px 6px #bbb;
}

/* Remove webkit outline */
input:focus-visible {
  outline: none;
}

button[type="submit"] {
  width: fit-content;

  padding: 12px 24px;
  margin: 32px;

  font-family: var(--default-fonts);
  font-size: 1rem;


  border: none;
  border-radius: 4px;

  background-color: var(--button-bg-color);
  color: var(--logo-color);

  box-shadow: 2px 2px 6px #bbb;
}

button[type="submit"]:hover {
  background-color: var(--button-hover-color)
}

button[type="submit"]:focus {
  outline: none;
}

.has-account {
  margin-left: 32px;

  font-family: var(--default-fonts);
  font-size: 0.75rem;
}

.has-account a {
  color: var(--button-bg-color);
  text-decoration: none;
}

.has-account a:hover {
  color: var(--button-hover-color);
}

input:invalid:not(:focus):not(:placeholder-shown) {
  border-color: var(--invalid-border-color);
  background-color: var(--invalid-bg-color);
}

#pwd {
  position: relative;
}

